div.my-footer {
    background-color: #272822;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
    width: 100%;
}
div.my-footer span {
    font-size: 8pt;
    color: #F7F8FA;
    position: absolute;
    left: 15px;
    bottom: 1.8px; /* was 2px */
}

.remark-slide-number {
  display: none;
}
