.title-slide {
  background-image: url(../img/shinydevseries_slides_logo.png);
  background-size: 60%; /* was cover */
  background-position: 95% 50%;
}
/* images to consider */
/* crane truck: <a href="/detail/284796/crane"><img src="https://openclipart.org/download/284796/crane.svg" /></a>