/* Two-column layout that has the right column as 20% */
.left-column-big {
  color: #777;
  width: 75%;
  height: 92%;
  float: left;
}
.left-column-big h2:last-of-type, .left-column-big h3:last-child {
  color: #000;
}
.right-column-small {
  width: 20%;
  float: right;
  padding-top: 1em;
}
