// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColorCustom: #F4F4F4 ;
$sidebarBgColorCustom: #EEEEEE ;
$textColorCustom: #333333 ;
$sidebarTextColorCustom: #555555 ;
$headlineColorCustom: #D5008F ;
$headingColorCustom: #111111 ;
$bodyLinkColorCustom: #357EDD ;
$navLinkColorCustom: #111111 ;
$sidebarLinkColorCustom: #111111 ;
$footerTextColorCustom: #999999 ;
$buttonTextColorCustom: #F4F4F4 ;
$buttonBgColorCustom: #000000 ;
$buttonHoverTextColorCustom: #FFFFFF ;
$buttonHoverBgColorCustom: #357EDD ;
$borderColorCustom: #CCCCCC ;

$siteBgColorDark: #111111 ;
$sidebarBgColorDark: #464e57 ;
$textColorDark: #F4F4F4 ;
$sidebarTextColorDark: #F4F4F4 ;
$headlineColorDark: #96CCFF ;
$headingColorDark: #F4F4F4 ;
$bodyLinkColorDark: #357EDD ;
$navLinkColorDark: #F4F4F4 ;
$sidebarLinkColorDark: #AAAAAA ;
$footerTextColorDark: #999999 ;
$buttonTextColorDark: #F4F4F4 ;
$buttonBgColorDark: #000000 ;
$buttonHoverTextColorDark: #FFFFFF ;
$buttonHoverBgColorDark: #357EDD ;
$borderColorDark: #CCCCCC ;