.youtube_video {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube_video iframe {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 560; 
  height: 315; 
  border:0;
}
